<% content_for :title do %>
  D3 examples by @larrylv
<% end %>

<div class="container">
  <h1>D3 Examples by @larrylv</h1>
  <ul>
    <li><%= link_to "List of Chinese administrative divisions by population", population_path %></li>
  </ul>
</div>
